error_log  /nginx-error.log;



    
    server {
        listen       80 ssl http2;

		ssl_certificate /cert/server-cert.pem;
		ssl_certificate_key /cert/server-decrypted-key.pem;
        server_name grpc_services;
		ssl_client_certificate /cert/ca-cert.pem;
		ssl_verify_client on;
		
		location / {
            grpc_pass grpcs://backend:${PORT};
            grpc_ssl_certificate /cert/server-cert.pem;
            grpc_ssl_certificate_key /cert/server-decrypted-key.pem;
        }

    }

